<div class="row d-flex align-items-center">
  <div class="col">
    <footer class="page-footer font-small bg-3">
 
      <p class="bg-4">© 2021 Educação para todes</p>

    </footer>
  </div>
</div>


<!-- <div class="row d-flex align-items-center">
  <div class="col">
<footer class="page-footer font-small bg-3">
 
<p class="bg-4">© 2021 Educação para todes</p>

</footer>
</div>
</div> -->


<!-- <div class="row d-flex align-items-center">
  <div class="col">
<footer class="page-footer font-small bg-3">
 
<p class="bg-4">© 2021 Educação para todes</p>

</footer>
</div>
</div> -->








<!-- <div class="row d-flex align-items-center">
  <div class="col">
<footer class="page-footer font-small bg-3">  
 
<p class="bg-4">© 2021 Educação para todes</p>  

   
</footer>
</div>
</div>
 -->