<div class="row d-flex align-items-center mt-5">

  <footer class="page-footer bg-3 ">
    <div class="row">
      <div class="col-md-4">
        <p class="bg-5 font-600-pequeno">Nossa proposta</p>
        <p class="bg-4 text-justify font-600-pequeno">
          Com a proposta de ajudar a diminuir a defasagem de conteúdo dos estudantes de escolas públicas brasileiras,
          criamos a plataforma Educação para Todes, onde alunos de todo o país podem ter acesso a aulas,
          disponibilizadas por voluntários, dos mais diversos conteúdos.
        </p>
      </div>

      <div class="col-md-2 font-600-pequeno">
        <p class="bg-5 font-600-pequeno">Empresa</p>
        <p class="bg-4 text-justify font-600-pequeno">
          Equipe
         <br>
          Contato
         <br>
          Sobre
          <br>
          Noticias
        </p>
      </div>

      <div class="col-md-3">
        <p class="bg-5 font-600-pequeno">Sigam-nos </p>
        <p class="bg-4 text-justify font-600-pequeno">
          <i class="fa fa-facebook-official" aria-hidden="true"> - Facebook</i>
          <br>
          <i class="fa fa-github" aria-hidden="true"> - GitHub</i>
          <br>
          <i class="fa fa-instagram" aria-hidden="true"> - Instagram</i>
          <br>
          <i class="fa fa-twitter-square" aria-hidden="true"> - Twitter</i>
        </p>
      </div>

      <div class="col-md-3">
        <p class="bg-5 font-600-pequeno">Fale conosco</p>
        <p class="bg-4 text-justify">
          <i class="fa fa-phone-square" aria-hidden="true"> +55 11 0800-0000</i>
          <br>
          <i class="fa fa-envelope-o font-600-pequeno" aria-hidden="true"> - contato@eduparatodes.com.br</i>
        </p>
      </div>


    </div>

    <p class="bg-2 font-600-pequeno">
      © 2021 Educação para todes
    </p>
  </footer>

</div>







<!-- <div class="row d-flex align-items-center">
  <div class="col">
<footer class="page-footer font-small bg-3">  
 
<p class="bg-4">© 2021 Educação para todes</p>  

   
</footer>
</div>
</div>
 -->