.entrelinhas{
    line-height: 1.2;
}


#img-bg{
    background-image: url('https://images.pexels.com/photos/3184396/pexels-photo-3184396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    min-height: 695px;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: auto;

  }

  .font-900-titulo-telas{
    font-family:'Lato', sans-serif;
    font-weight: 900;
    color:#202122;
    font-size: 30px;
  }

  .font-600-texto-botao{
    font-family:'Lato', sans-serif;
    font-weight: 700;
    color: #202122;
    font-size: 16px;
}
  .shadow{
    box-shadow: 1px 2px 10px rgb(159, 167, 164), 1px  2px 1px rgb(159, 167, 164);
  }