
<body data-bs-spy="scroll" data-bs-target="#navbar-example">

    <app-menu-superior class="navbar-inner"></app-menu-superior>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center" id="img-bg" >
            <div class="col-md-5">
                <p class="ms-4 text-start fs-4 fw-bold text-white p-4 entrelinhas font-900-titulo-telas  ">
                    CONECTE-SE COM NOVAS PESSOAS E APRENDA AQUELES CONTEÚDOS QUE VOCÊ SEMPRE TEVE DIFICULDADE!
                </p>
                <div class="row justify-content-center d-flex">
                    <div class="col-md-4 justify-content-center d-flex"> 
                        <button class="btn btn-light font-600-texto-botao shadow " routerLink='/cadastrar'>Cadastre-se</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <app-saiba-mais id="scrollsaiba"></app-saiba-mais>
    <app-time id="scrolltime"></app-time>
    <app-rodape></app-rodape>
    </body>