<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark menu-cor d-flex">
  <div class="container-fluid d-flex">
    <button class="navbar-toggler" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand col-10" href="#">
    
            <img src="https://i.imgur.com/ZzgaGt0.png" alt="" width="40px" height="40px">
      
    </a>
    <button class="btn btn-cor text-white" type="submit">Sair
    </button>
  </div>
</nav>
 

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel justify-content-center">
          <img src="https://i.imgur.com/U1hwzsM.png" alt="Logo da Educação para Todes" width="50px" height="50px">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body menu-cor ">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item borda-btn menu-cor">An item</li>
          <li class="list-group-item borda-btn menu-cor">A second item</li>
          <li class="list-group-item borda-btn menu-cor">A third item</li>
          <li class="list-group-item borda-btn menu-cor">A fourth item</li>
          <li class="list-group-item borda-btn menu-cor">And a fifth one</li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
