
.modal{
    width: 300px;

}

.modal-content{
    width: 300px;
}

.list-group-item:hover{
    background-color: white;
}

.container-comentarios{
    width: 560px;
}

.borda-btn{
    border-radius: 30px;
}

.menu-cor{
    background-color: #46c46e/* #5688b8 *//* #7ebaf3 */;
    /* #94aec5 */
}
.btn-cor{
    background-color: whitesmoke;
}
*{
    
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}