<app-menu-superior></app-menu-superior>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">

      <!--Menu-->
      <div class="col-3 tamanho-menu">
        <img src="" alt="Foto Perfil" width="80px" height="80px" class="rounded-circle margen-fotos margen-fotos">
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <button class="btn btn-outline-light" type="submit">
              <li class="list-group-item bg-primary borda-botao cor-letra">Tutorial</li>
            </button>
            <button class="btn btn-outline-light" type="submit">
              <li class="list-group-item bg-primary borda-botao cor-letra">Editar perfil</li>
            </button>
            <button class="btn btn-outline-light" type="submit">
              <li class="list-group-item bg-primary borda-botao cor-letra"> <a class="text-white"
                  routerLink='/perfil-adicionar-videos'>Adicionar conteudo </a>
              </li>
            </button>
            <button class="btn btn-outline-light" type="submit">
              <li class="list-group-item bg-primary borda-botao cor-letra">Feed</li>
            </button>
          </ul>
        </div>
      </div>
    </div>
    <!--/Menu-->

    <!--Titulo-->
    <div class="col-md-8">
      <h2 class="mt-4 mb-4 text-start ">Olá Voluntario!!!</h2>
      <p class="mb-5 text-start">Seja bem-vindo, abaixo se encontra o video que irá
        lhe demonstrar como utilizar nossa plataforma
      </p>
      <!--/Titulo-->
 
      <!--Cards-->
      <div class="col-md-12">    
        <div class="row">
          <div class="row justify-content-start d-flex">
            <div class="col-sm-10 d-flex justify-content-start mb-3">
              <iframe width="677" height="362" src="https://www.youtube.com/embed/nLv7NhlM91s"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <button class="btn btn-primary button mt-5 mb-5" type="submit">
            <li class="text-white" routerLink='/perfil-adicionar-videos'>Adicionar Conteúdo
            </li>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="col margen-cards">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Favoritados.</p>
                    <a href="#" class="btn btn-primary">Entrar</a>
                  </div>
                </div>
              </div>

              <div class="col margen-cards">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Exercicios pendentes.</p>
                    <a href="#" class="btn btn-primary">Entrar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    

      <div class="col margen-cards">
        <div class="row d-flex">
          <div class="col margen-cards">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Continue assistindo.</p>
                <a href="#" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>

          <div class="col margen-cards">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Sugestões.</p>
                <a href="#" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
<!--/ Cards-->

