<app-menu-superior></app-menu-superior>
<div class="container-fluid bg-color">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mt-3 mb-5 font-800-titulo-telas d-flex justify-content-center">Bem-vindo ao Educação para
        Todes,
        {{nome}}! Veja o tutorial abaixo para começar sua jornada!</h2>
      <!-- <p class="justify-content-center d-flex font-pv mb-5">Assista ao vídeo abaixo e descubra como compartilhar
        o seu
        conhecimento:</p> -->

      <iframe class="video" width="100%" height="120%" src="https://www.youtube.com/embed/Xy7VzLTJRi8"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <div>

        <button class="btn mt-4 botao-comecar me-4 font-600-texto-botao " [routerLink]="['/perfil-adicionar-videos']"
          data-bs-dismiss="modal">Vamos Começar!</button>
      </div>


    </div>
  </div>


</div>






