.tamanho-menu {
    width: 300px;
}

.margen-titulo {
    margin: 25px;
}

.margen-discricao {
    margin: 35;
}

.margen-cards {
    margin: 15px;
}

.margen-fotos {
    margin: 30px;
}

.borda-botao {
    border-radius: 30px;
}

.cor-letra {
    color: white;
}
