<div class="imagemFundo">
    <div class="container col-md-4 mt-4 mb-4">
        <div class="login-form">
            <div class="col-md-12">
                <h2>Cadastro</h2>

                <div class="form-group">
                    <i class="fa fa-id-card-o p-2" aria-hidden="true"></i>
                    <label for="nome">Nome Completo:</label>
                    <input [(ngModel)]='usuario.nome' type="text" class="backgroundInput" name="nome" id="nome"
                        placeholder="  Digite seu nome completo" />
                </div>

                <div class="form-group">
                    <i class="fa fa-user-circle p-2" aria-hidden="true"></i>
                    <label for="email">Email:</label>
                    <input [(ngModel)]='usuario.email' class="backgroundInput" type="email" name="email" id="email"
                        placeholder="  Digite seu email">
                </div>


                <div class="form-group">
                    <i class="fa fa-lock p-2" aria-hidden="true"></i>
                    <label for="senha">Senha</label>
                    <input (input)='confirmaSenha($event)' class="backgroundInput" type="password" name="senha"
                        id="senha" placeholder="  Digite sua senha" />
                </div>

                <div class="form-group">
                    <i class="fa fa-lock p-2" aria-hidden="true"></i>
                    <label for="confirmSenha">Confirmar Senha</label>
                    <input [(ngModel)]='usuario.senha' class="backgroundInput" type="password" name="confirmSenha"
                        id="confirmSenha" placeholder="  Confirme sua senha">
                </div>

                <div class="form-group">
                    <i class="fa fa-camera p-2" aria-hidden="true"></i>
                    <label for="foto">Link da Foto</label>
                    <input [(ngModel)]='usuario.foto' class="backgroundInput" type="text" name="foto" id="foto"
                        placeholder="  Digite o link da sua foto de perfil">
                </div>

                <div class="form-group">
                    <i class="fa fa-users p-2" aria-hidden="true"></i>
                    <label for="tipo">Tipo de Cadastro</label>
                    <select class="backgroundInput" name="tipo" id="tipo" (change)='selecionarUsuario($event)'>
                        <option class="text-dark" >  Selecione um tipo de cadastro</option>
                        <option class="text-dark" value="estudante">Quero ser Estudante!</option>
                        <option class="text-dark"  value="voluntarie">Quero ser Voluntárie!</option>
                    </select>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" (click)='cadastrar()'>Cadastrar</button>
                </div>

            </div>
        </div>
    </div>
</div>
