<div class="collapse" id="navbarToggleExternalContent">

  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">

  <div class="container-fluid">
    <button class="navbar-toggler" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <button class="btn btn-outline-primary" type="submit">Sair
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>
</nav>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen	">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>



<!-- barras de pesquisa -->


<div class="container-fluid col-6">
  <section id="search">
    <label for="barPesquisa">
      <i class="fa fa-search" aria-hidden="true"></i>
    </label>
    <form class="d-flex">
      <input id="barPesquisa" class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">

      <button class="btn btn-outline-success" type="submit">Procurar</button>
    </form>
  </section>
</div>


<!-- menu lateral -->
<div class=" cocol-3 tamanho-menu position-fixed">
  <div class="modal-body">
    <ul class="list-group list-group-flush">

      <button class="btn btn-outline-light" type="submit">
        <li class="list-group-item bg-primary borda-botao cor-letra">Home</li>
      </button>

      <button class="btn btn-outline-light" type="submit">
        <li class="list-group-item bg-primary borda-botao cor-letra">Editar perfil</li>
      </button>

      <button class="btn btn-outline-light" type="submit">
        <li class="list-group-item bg-primary borda-botao cor-letra">Favoritos</li>
      </button>

      <button class="btn btn-outline-light" type="submit">
        <li class="list-group-item bg-primary borda-botao cor-letra">Sair</li>
      </button>

    </ul>
  </div>
</div>
<div class="container-fluid col-8 ">
  <div class="row d-flex">
    <h1 class="text-muted mt-4  ms-4 text-left ">
      Sugestões:
    </h1>
  <!-- cards de videos -->  
  
  <div class="d-flex justify-content-start">


    <div class="row row-cols-1 row-cols-md-3 g-4 ms-4 me-4 mt-2 mb-4">
      <div class="col">
        <div class="card h-100">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IrSnJCLkvlE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula De Biologia.</h5>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eI8R8Eyv9vQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula de Portugues</h5>
            <p class="card-text">Lorem ipsum dolor sit..</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <iframe width="100% " height="100%" src="https://www.youtube.com/embed/hwghFXgGF8c"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula de Matemática</h5>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start">


    <div class="row row-cols-1 row-cols-md-3 g-4 ms-4 me-4 mt-2 mb-4">
      <div class="col">
        <div class="card h-100">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IrSnJCLkvlE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula De Biologia.</h5>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eI8R8Eyv9vQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula de Portugues</h5>
            <p class="card-text">Lorem ipsum dolor sit..</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <iframe width="100% " height="100%" src="https://www.youtube.com/embed/hwghFXgGF8c"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula de Matemática</h5>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start">


    <div class="row row-cols-1 row-cols-md-3 g-4 ms-4 me-4 mt-2 mb-4">
      <div class="col">
        <div class="card h-100">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IrSnJCLkvlE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula De Biologia.</h5>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eI8R8Eyv9vQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula de Portugues</h5>
            <p class="card-text">Lorem ipsum dolor sit..</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <iframe width="100% " height="100%" src="https://www.youtube.com/embed/hwghFXgGF8c"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Aula de Matemática</h5>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
