

.bt{
    border-radius: 20px;
    width: 200px;
    margin-bottom: 4px;
    height: 45px;
    border: solid 0.1rem #ae84ff;
    background-color: white;
    box-shadow: 1px 2px 10px rgb(159, 167, 164), 1px  2px 1px rgb(159, 167, 164);
}

.bt:hover{
    background-color: #d4c1fa;
}

.tx{
    color: rgb(253, 254, 255);
}

.ct{
    border-radius: 20px;
    height: 270px;
    width: 230px;
    border: solid 0.1rem gray;
    background-color: #ae84ff;
    margin-right: 130px;
    margin-left: 20%;
    box-shadow: 1px 2px 10px rgb(159, 167, 164), 1px  2px 1px rgb(159, 167, 164);

}

.bg-tela{
    background-color: rgb(229, 226, 226);
}
.font-600-texto-botao{
    font-family:'Lato', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
}

.font-botao-menu-perfil{
    font-family:'Lato', sans-serif;
    font-weight: 600;
    color: #5d5c5c;
    font-size: 14px;
}

/* .font-900-titulo-telas{
    font-family:'Lato', sans-serif;
    font-weight: 900;
    color:white;
    font-size: 30px;
}

.font-700-titulo-texto{
    font-family:'Lato', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 16px;

}

.font-600-texto{
    font-family:'Lato', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 16px;
}

.font-botao-menu-perfil{
    font-family:'Lato', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 14px;
} */

