/* .container-fluid{
    border: solid violet 0.2rem;
} */

.margen-fotos {
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
}

button {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 225px;
    margin-bottom: 5px;
    margin-left: -30px;
    /* will-change: ; */
}

button:hover{
    background-color: white;
    text-overflow: black;
}


.tamanho-menu {
    width: 300px;
}

.margen-titulo {
    margin: 25px;
}

button:hover,
.botao-ativado_active{
    background-color: tomato;
}


