<div class="container-fluid">
  <div class="row d-flex justify-content-start">
    <div class="col-md-4">
      <div class="col">
        <img src="{{foto}}" alt="Foto Perfil" width="80px" height="80px" class="rounded-circle margen-fotos">
      </div>

      <div class="modal-body">
        <ul class="list-group">

          <button class="btn btn-primary" type="submit">
            <li class="text-white" routerLink='/feed'>Feed</li>
          </button>


          <button *ngIf='authService.voluntarie()' class="btn btn-primary" type="submit">
            <li class=" text-white" routerLink='/perfil-adicionar-videos'> Adicionar Conteúdo
            </li>
          </button>

          <button class="btn btn-primary" type="submit">
            <li class=" text-white" routerLink='/meus-conteudos'>Meus conteúdos</li>
          </button>

          <button [routerLink]="['/usuario-edit', id]" class="btn btn-primary" type="submit">
            <li class="text-white">Editar perfil</li>
          </button>

        </ul>
      </div>
    </div>
  </div>
</div>















<!-- <div class="col tamanho-menu">
  <div class="col">
    <img src="{{foto}}" alt="Foto Perfil" width="80px" height="80px" class="rounded-circle margen-fotos">
  </div>

    <div class="modal-body">
      <ul class="list-group">

        <button class="btn btn-primary" type="submit">
          <li class="bg-primary text-white" routerLink = '/feed'>Feed</li>
        </button>


        <button class="btn btn-primary" type="submit">
          <li class="list-group-item bg-primary borda-botao text-white"  routerLink='/perfil-adicionar-videos'> Adicionar Conteúdo
          </li> 
        </button>

        <button class="btn btn-primary" type="submit">
          <li class="list-group-item bg-primary borda-botao text-white" routerLink = '/meus-conteudos'>Meus conteúdos</li>
        </button>

        <button [routerLink]="['/usuario-edit', id]" class="btn btn-primary" type="submit">
            <li class="list-group-item bg-primary borda-botao text-white">Editar perfil</li>
          </button>

      </ul>

    </div>
  </div> -->