<div class="col tamanho-menu">
<div class="container-fluid">
  <div class="row d-flex justify-content-start">
    <div class="col-md-4">
      <div class="col">
        <img src="{{foto}}" alt="Foto Perfil" width="80px" height="80px" class="rounded-circle margen-fotos">
      </div>

      <div class="modal-body">
        <ul class="list-group">

          <button class="btn btn-primary" type="submit">
            <li class="text-white" routerLink='/feed'>Feed</li>
          </button>


          <button *ngIf='authService.voluntarie()' class="btn btn-primary" type="submit">
            <li class=" text-white" routerLink='/perfil-adicionar-videos'> Adicionar Conteúdo
            </li>
          </button>

          <button class="btn btn-primary" type="submit">
            <li class=" text-white" routerLink='/meus-conteudos'>Meus conteúdos</li>
          </button>

          <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  class="btn btn-outline-light botao-ativado_active" type="submit">        
            <li class="text-white">Editar perfil</li>
          </button>

        </ul>
      </div>
    </div>
  </div>
</div>
</div>

   

     


      
   
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>



      
    <div class="modal-body">
      <ul class="list-group">

       

        

        </ul>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>






<!-- MODAL -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
 
