

.bg-color{
/* background-color: #f3e3f6; */
min-height: 900px;
    
}

.container{
    /* width: 350 px; */
    background: rgba(243, 240, 251, 0.918);
    border-radius: 20px; 
    box-shadow: 1px 2px 10px rgb(181, 161, 187), 3px  6px 20px rgb(181, 161, 187);
    padding: 50px 20px;
    
}

.backgroundInput{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #d0b7e7;
    color: rgb(100, 100, 100);
    border-radius: 20px;

}

.form-group{
    position: relative;
    margin-bottom: 20px;

}

label{
 
    top:0;
    left:0;
    color:rgb(100, 100, 100);
    margin-left: 1px;

}

.fa{
    padding: 2px;
    color: rgb(100, 100, 100);
    margin-bottom: 5px;

}

input:focus{
    border: 2px solid #cca6ec;
    box-shadow: 0 1px 0 0 #cca6ec ;
}

input::placeholder{
    color: rgb(100, 100, 100);
    margin: 10%;
}

button{
    padding: 10px 50px;
    margin: 20px;
    background: transparent;
    border: 2px solid #b090d4;
    color:rgb(100, 100, 100);
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;

}

button:hover{
    background: rgba(239, 187, 255, 0.411);
}

.text-color{
    color: rgb(100, 100, 100);
}
