
 <section>
  <div class="row d-flex">
      <div class="col d-flex justify-content-center mt-5 ms-5 me-4">
        <iframe width="90%" height="100%" src="https://www.youtube.com/embed/B_x8EccxJjU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
      <div class="container mat-sidenav d-flex me-5 mt-5 ">
          
          
      
          <div class="col-md-12 d-flex align-items-center">
              
        <div class="modal-body">
          <ul class="list-group list-group-flush">
              <h4 class="h4">Próximos vídeos</h4>
            <li class="list-group-item mt-4 mb-2">Vídeo 1 (9:00)</li>
            <li class="list-group-item mb-2">Vídeo 2 (9:00)</li>
            <li class="list-group-item mb-2">Vídeo 3 (9:00)</li>
            <li class="list-group-item mb-2">Vídeo 4 (9:00)</li>
            <li class="list-group-item mb-2">Vídeo 5 (9:00)</li>
          </ul>
        </div>
      </div>
  </div>
  </div>


<section>  
    <div class="col d-flex mt-5 mb-2 ms-5 me-5 c">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Comentário 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae modi temporibus suscipit molestias, placeat accusamus impedit eligendi fuga, consequuntur quis illum voluptatum tempora. Reiciendis minus blanditiis eaque. Repellendus, perferendis..</p>
          
        </div>
      </div>
  </div>

  <div class="col d-flex mb-2 ms-5 me-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Comentário 2</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae modi temporibus suscipit molestias, placeat accusamus impedit eligendi fuga, consequuntur quis illum voluptatum tempora. Reiciendis minus blanditiis eaque. Repellendus, perferendis..</p>
        
      </div>
    </div>
</div>

<div class="col d-flex mb-4 ms-5 me-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Comentário 3</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae modi temporibus suscipit molestias, placeat accusamus impedit eligendi fuga, consequuntur quis illum voluptatum tempora. Reiciendis minus blanditiis eaque. Repellendus, perferendis..</p>
      
    </div>
</div>
