<app-menu-superior></app-menu-superior>
<div class="container-fluid d-flex bg-tela">
  <div class="row d-flex bg-tela mt-4 justify-content-center">
    <h2 class="text-center mb-5 mt-5">Bem-vindo a Tela de Visualização Assista aqui sua aula</h2>
    <div class="col-md-6 col-fluid justify-content-center mt-4">
      <iframe width="590" height="350" src="https://www.youtube.com/embed/joFSMgR-OEk" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-6 mt-4 ct">
      <div class="row d-flex mt-4">
        <h5 class="d-flex justify-content-center">Videos: </h5>
        <div class="col-md-6">
          <button class="bt d-flex justify-content-center align-items-center">https://www.youtube.com/watch?</button>
          <button class="bt d-flex justify-content-center align-items-center">https://www.youtube.com/watch?</button>
          <button class="bt d-flex justify-content-center align-items-center">https://www.youtube.com/watch?</button>
          <button class="bt d-flex justify-content-center align-items-center">https://www.youtube.com/watch?</button>
        </div>
      </div>
    </div>
  </div>
</div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 