

.mat-sidenav{
    border: solid 0.1rem;
    border-radius: 10px;
    text-align: center;
    border-color: #46c46e;
    height: 440px;
    width: 350px;
}

.card{
    width: 53.8rem;
    height: 10rem;
}

.h4{
    margin-bottom: 60px;
}

.list-group-item:hover{
    background-color: #46c46e;
}