.menu-cor{
    background-color: #20629d /* #3949ab */;
    /* #94aec5 */;
}
.btn-cor{
    background-color: rgb(192, 190, 190);
}
*{
    
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.tx-cor{
    color:rgb(61, 61, 61) ;
}