/* .container-fluid{
    height: 40rem;
    width: 100rem;

} */
.bg-cor{
    background-color:#d9bca8;
}  
    
    .tx-cor{
        color: #20232a;
        font-family: 'Lato', sans-serif;
        font-size: 21px;
    }
    .entrelinhas{
        line-height: 1.5;
        margin-right: 50%;
        text-align: justify;
    }
    .tx-titulo{
        color: #20232a;
        font-family: 'Lato', sans-serif;
        font-size: 31px;
    }
    
    .mb{
       margin-bottom: 30px; 
    }

    .font-900-titulo-telas{
        font-family:'Lato', sans-serif;
        font-weight: 900;
        color:#202122;
        font-size: 30px;
      }
      
      
      .font-800-titulo-telas{
        font-family:'Lato', sans-serif;
        font-weight: 600;
        color:#20629d;
        font-size: 24px;
      }
      
      .font-700-titulo-texto{
        font-family:'Lato', sans-serif;
        font-weight: 700;
        color: #202122;
        font-size: 18px;
      
      }
      
      /* .font-600-texto{
        font-family:'Lato', sans-serif;
        font-weight: lighter;
        color: #202122;
        font-size: 16px;
      } */
      
      .font-pv{
        font-family:'Lato', sans-serif;
        font-weight: 400;
        color:#3b3b3b; 
        font-size: 16px;
        /* line-height: 1.5; */
      
      }
      
      .font-600-texto-form{
        font-family:'Lato', sans-serif;
        font-weight: normal;
        color: #202122;
        font-size: 16px;
      }
      
      .font-600-texto-botao{
        font-family:'Lato', sans-serif;
        font-weight: 700;
        color: white;
        font-size: 16px;
      }
      
      .font-600-pequeno{
        font-family:'Lato', sans-serif;
        font-weight: normal;
        color: rgb(122, 122, 122);
        font-size: 14px;
      }
      
      .font-botao-menu-perfil{
        font-family:'Lato', sans-serif;
        font-weight: 600;
        color: #5d5c5c;
        font-size: 14px;
      }