<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center bg-light" id="#saiba-mais">
     <h3 class="mt-5 fw-bold tx-titulo mb-5 text-center font-900-titulo-telas">
       SAIBA MAIS
     </h3>

     <div class="row justify-content-center align-items-center ">
      <div class="col-md-6 mb-4 text-center">
          <img src=" https://i.imgur.com/3Pg2bOA.png?1" height="35%" width="35%" alt="">
      </div>

          <div class="col-md-6 mb-5">
          <p class="ms-0 tx-cor me-4 mt-4 entrelinhas mb-5">
            A Educação para Todes é uma plataforma educacional que visa ampliar o acesso ao conhecimento de estudantes, principalmente de escolas públicas, que sofrem com a defasagem no conteúdo ensinado nas instituições onde estudam. Para que essa ideia ganhe vida, contamos com a participação de voluntários, que disponibilizaram vídeos na plataforma, com conteúdos das mais diversas matérias. Esperamos que esse seja um lugar que o estudante busque quando estiver com dificuldade e que aqui ele possa realmente aprender, afinal, acreditamos que qualidade de ensino deveria ser um direito universal.
          </p>
        </div>

      </div>
  </div>

</div>














<!-- <div class="container-fluid " >
  <div class="row d-flex justify-content-center align-items-center bg-light">
     <h3 class="mt-5 ms-4 fw-bold tx-titulo entrelinhas  mb-4 text-center">
       SAIBA MAIS
     </h3>
     <div class="row justify-content-end align-items-center">
      <div class="col-md-7 mb-4 d-flex">
          <img src=" https://i.imgur.com/3Pg2bOA.png?1" height="25%" width="25%" alt="">
      </div>
      
        
          <div class="col-md-5 ">
          <p class="ms-1 tx-cor me-4 mb-4 mt-4 entrelinhas">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quasi incidunt! Quasi modi sunt, labore perspiciatis corrupti impedit dolore nobis, ex odio ipsum blanditiis culpa nulla cumque enim repellendus? Ipsa reiciendis ullam consectetur perspiciatis iusto dicta sequi dolore quae libero veritatis voluptatibus doloribus harum suscipit adipisci accusamus magnam qui autem facilis, beatae quidem! 
              Sunt voluptatum odit rerum aspernatur a repellendus veniam inventore dolorem fugiat neque soluta laborum est dicta molestiae nesciunt, suscipit magnam quia culpa, iste, sequi unde vero praesentium. Voluptatem sequi facere libero velit sed nostrum, porro veniam labore dolorem consequuntur debitis natus tempora perspiciatis excepturi, architecto culpa. Eligendi? 
          </p>
        </div>

      </div>
  </div>

</div> -->
