<div class="container-fluid " >
  <div class="row d-flex justify-content-center align-items-center  bg-cor">
     <h3 class="mt-5 ms-4 fw-bold tx-titulo entrelinhas  mb-4 text-center">
       SAIBA MAIS
     </h3>
     <div class="row justify-content-end align-items-center">
      <div class="col-md-7 mb-4 d-flex ">
          <img src="https://i.imgur.com/E1MDGnSt.png" height="65%" width="65%" alt="">
      </div>
      
        
          <div class="col-md-5 ">
          <p class="ms-1 tx-cor me-4 mb-4 mt-4 entrelinhas">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quasi incidunt! Quasi modi sunt, labore perspiciatis corrupti impedit dolore nobis, ex odio ipsum blanditiis culpa nulla cumque enim repellendus? Ipsa reiciendis ullam consectetur perspiciatis iusto dicta sequi dolore quae libero veritatis voluptatibus doloribus harum suscipit adipisci accusamus magnam qui autem facilis, beatae quidem! 
              Sunt voluptatum odit rerum aspernatur a repellendus veniam inventore dolorem fugiat neque soluta laborum est dicta molestiae nesciunt, suscipit magnam quia culpa, iste, sequi unde vero praesentium. Voluptatem sequi facere libero velit sed nostrum, porro veniam labore dolorem consequuntur debitis natus tempora perspiciatis excepturi, architecto culpa. Eligendi? 
          </p>
        </div>

      </div>
  </div>

</div>
