.tamanho-menu {
    width: 300px;
}
.borda-btn{
    border-radius: 10px;
}
.borda-btn:hover{
    background-color: blue;
}

.form-size{
    height: 100px;

}

.border{
    border: solid 0.2rem;
    color: blue;
    border-radius: 10px;
    margin-left:30px;
    height: 400px;
}

.margin{
    border: solid 0.2rem;
    border-radius: 20px;
    border-color: rgb(20, 233, 162);
    padding: 20px 20px 20px 20px;
}

button{
    border-radius: 20px;
    padding: 10px;
    margin-left: 220px;
    
}

.batatinha{
width: 30px;
height: 30px;
/* border-top: solid black 0.1rem; */
}

.container-fluid{
    margin-bottom: 60px;
}

