.tamanho-menu {
    width: 300px;
}
.borda-btn{
    border-radius: 10px;
}
.borda-btn:hover{
    background-color: blue;
}

.form-size{
    height: 100px;

}

.border{
    border: solid 0.2rem;
    color: blue;
    border-radius: 10px;
    margin-left:30px;
    height: 400px;
}

.margin{
    border: solid 0.1rem;
    border-radius: 20px;
    border-color: rgb(159, 167, 164);
    padding: 20px 20px 20px 20px;
    box-shadow: 1px 2px 10px rgb(159, 167, 164), 1px  2px 1px rgb(159, 167, 164);
}

.botao-adicionar{
    border-radius: 20px;
    padding: 10px;
    margin-left: 220px;
    box-shadow: 1px 2px 10px rgb(159, 167, 164), 1px  2px 1px rgb(159, 167, 164);
    background-color: #20629d;

}

.batatinha{
width: 30px;
height: 30px;
/* border-top: solid black 0.1rem; */
}

.container-fluid{
    margin-bottom: 60px;
}

.botao-cadastrar-tema-salvar{
    margin-left: 10px;
    margin-top: 20px;
    background-color: #20629d;

}

.botao-cadastrar-tema-cancelar{
    margin-left: 10px;
    margin-top: 20px;
}
.font-900-titulo-telas{
    font-family:'Lato', sans-serif;
    font-weight: 900;
    color:white;
    font-size: 30px;
}

.font-700-titulo-texto{
    font-family:'Lato', sans-serif;
    font-weight: 700;
    color: #202122;
    font-size: 22px;

}

.font-600-texto{
    font-family:'Lato', sans-serif;
    font-weight: lighter;
    color: #202122;
    font-size: 16px;
}

.font-600-texto-form{
    font-family:'Lato', sans-serif;
    font-weight: normal;
    color: #202122;
    font-size: 16px;
}

 .font-600-texto-botao{
    font-family:'Lato', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 16px;
}

.font-600-pequeno{
    font-family:'Lato', sans-serif;
    font-weight: normal;
    color: rgb(122, 122, 122);
    font-size: 14px;
}

.font-botao-menu-perfil{
    font-family:'Lato', sans-serif;
    font-weight: 600;
    color: #202122;
    font-size: 14px;
}

.bg-tela{
    background-color: rgb(229, 226, 226);
}

.margin-rodape{
    margin-bottom: 30px;
}

