<div class="container-fluid">
    <h2 class="mb-5 mt-5 ms-4 text-center font-900-titulo-telas">Equipe</h2>
    <div class="row d-flex mb-4">
        <div class="col-md-4 d-flex justify-content-end" id="#time">
            <div class="team borda">
                <div class="team-img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHgqX8-QmI51A/profile-displayphoto-shrink_200_200/0/1601400913935?e=1631750400&v=beta&t=dQCOgSpvAoHoCz971M4X6XBtZM7ABAUQoKl_YYRjfTo"
                        alt="Team Image">
                    <div class="team-social">
                        <a class="social-fb" href="https://github.com/Barbara790" target="_blank"><i
                                class="fa fa-github mb-4" aria-hidden="true"></i></a>
                        <a class="social-li" href="https://www.linkedin.com/in/barbara2-dos-santos/" target="_blank"><i
                                class="fa fa-linkedin-square mb-4" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="team-content">
                    <h2 class="font-700-titulo-texto">Barbara</h2>
                    <h3 class="font-pv">Desenvolvedora</h3>
                    <div class="team-skill">
                        <div class="skill-name">
                            <p>Java</p>
                            <p>90%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-90"></div>
                        </div>
                        <div class="skill-name">
                            <p>HTML</p>
                            <p>80%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-80"></div>
                        </div>
                        <div class="skill-name">
                            <p>Angular</p>
                            <p>70%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-70"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
            <div class="team borda">
                <div class="team-img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHjX4pGQA6ZwQ/profile-displayphoto-shrink_200_200/0/1620672999129?e=1631750400&v=beta&t=QHOQVgBxzaIOI5S5EZJrkHiinw51P90xERahNPFjiUQ"
                        alt="Team Image">
                    <div class="team-social">
                        <a class="social-fb" href="https://github.com/brunocallachi" target="_blank"><i
                                class="fa fa-github mb-4" aria-hidden="true"></i></a>
                        <a class="social-li" href="https://www.linkedin.com/in/bruno-callachi-54b8b71b2/"
                            target="_blank"><i class="fa fa-linkedin-square mb-4" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2 class="font-700-titulo-texto">Bruno</h2>
                    <h3 class="font-pv">Desenvolvedor</h3>
                    <div class="team-skill">
                        <div class="skill-name">
                            <p>Java</p>
                            <p>90%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-90"></div>
                        </div>
                        <div class="skill-name">
                            <p>HTML</p>
                            <p>80%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-80"></div>
                        </div>
                        <div class="skill-name">
                            <p>Angular</p>
                            <p>70%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-70"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-start">
            <div class="team borda">
                <div class="team-img">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHGTkZpCcFmWg/profile-displayphoto-shrink_200_200/0/1516839740765?e=1631750400&v=beta&t=9k9BGm36nB2fn47RPXrxmQBibJWUh6OuOut5q8sVtXw"
                        alt="Team Image" height=50px width="50%">
                    <div class="team-social">
                        <a class="social-fb" href="https://github.com/jovieira127" target="_blank"><i
                                class="fa fa-github mb-4" aria-hidden="true"></i></a>
                        <a class="social-li" href="https://www.linkedin.com/in/jomcvieira/" target="_blank"><i
                                class="fa fa-linkedin-square mb-4" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2 class="font-700-titulo-texto">Jonatas</h2>
                    <h3 class="font-pv">Desenvolvedor</h3>
                    <div class="team-skill">
                        <div class="skill-name">
                            <p>Java</p>
                            <p>90%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-90"></div>
                        </div>
                        <div class="skill-name">
                            <p>HTML</p>
                            <p>80%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-80"></div>
                        </div>
                        <div class="skill-name">
                            <p>Angular</p>
                            <p>70%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-70"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex">
        <div class="col-md-4 d-flex justify-content-end" id="#time">
            <div class="team borda">
                <div class="team-img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFUFeU72ZM5LQ/profile-displayphoto-shrink_200_200/0/1625180386369?e=1631750400&v=beta&t=yuZ_3wUm_ceBRvVdGacA22frnaIalvEevwIoG20C92M"
                        alt="Team Image">
                    <div class="team-social">
                        <a class="social-fb" href="https://github.com/mlmaricato" target="_blank"><i
                                class="fa fa-github mb-4" aria-hidden="true"></i></a>
                        <a class="social-li" href="https://www.linkedin.com/in/maria-luisa-maricato/" target="_blank"><i
                                class="fa fa-linkedin-square mb-4" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="team-content">
                    <h2 class="font-700-titulo-texto">Maria Luísa</h2>
                    <h3 class="font-pv">Desenvolvedora</h3>
                    <div class="team-skill">
                        <div class="skill-name">
                            <p>Java</p>
                            <p>90%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-90"></div>
                        </div>
                        <div class="skill-name">
                            <p>HTML</p>
                            <p>80%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-80"></div>
                        </div>
                        <div class="skill-name">
                            <p>Angular</p>
                            <p>70%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-70"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
            <div class="team borda">
                <div class="team-img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEm_vgX9cKn_A/profile-displayphoto-shrink_200_200/0/1625508769591?e=1631750400&v=beta&t=PlqUykJjPcvU4Uh2uqjfhnEcZ7NwO9rLiwNXvVzonLg"
                        alt="Team Image">
                    <div class="team-social">
                        <a class="social-fb" href="https://github.com/PedroMagalhaes360" target="_blank"><i
                                class="fa fa-github mb-4" aria-hidden="true"></i></a>
                        <a class="social-li" href="https://www.linkedin.com/in/pedro-magalh%C3%A3es-4b5508212/" target="_blank"><i
                                class="fa fa-linkedin-square mb-4" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2 class="font-700-titulo-texto">Pedro</h2>
                    <h3 class="font-pv">Desenvolvedor</h3>
                    <div class="team-skill">
                        <div class="skill-name">
                            <p>Java</p>
                            <p>90%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-90"></div>
                        </div>
                        <div class="skill-name">
                            <p>HTML</p>
                            <p>80%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-80"></div>
                        </div>
                        <div class="skill-name">
                            <p>Angular</p>
                            <p>70%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-70"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-start">
            <div class="team borda">
                <div class="team-img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHJwc6mV_gejw/profile-displayphoto-shrink_200_200/0/1625176629640?e=1631750400&v=beta&t=l1HX-HbFpc5jO0aa_65_506PA1-vj8exEmSxMAfjPUo"
                        alt="Team Image" height=50px width="50%">
                    <div class="team-social">
                        <a class="social-fb" href="https://github.com/LuLenny" target="_blank"><i
                                class="fa fa-github mb-4" aria-hidden="true"></i></a>
                        <a class="social-li" href="https://www.linkedin.com/in/lucas-teodoro-409b74215/"
                            target="_blank"><i class="fa fa-linkedin-square mb-4" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2 class="font-700-titulo-texto">Teodoro</h2>
                    <h3 class="font-pv">Desenvolvedor</h3>
                    <div class="team-skill">
                        <div class="skill-name">
                            <p>Java</p>
                            <p>90%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-90"></div>
                        </div>
                        <div class="skill-name">
                            <p>HTML</p>
                            <p>80%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-80"></div>
                        </div>
                        <div class="skill-name">
                            <p>Angular</p>
                            <p>70%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar w-70"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
