<div class="container-fluid">
    <div class="row d-flex justify-content-center bg-cor">
      <h2 class="text-center mt-3">EQUIPE</h2>




      <div class="col-sm-4 d-flex justify-content-center mb-3">                  
          <div class="card" style="width: 15rem;">
              <div class="card-body">
                  <div>
                      <img class="br-50"
                          src="https://media-exp3.licdn.com/dms/image/C4D03AQHjX4pGQA6ZwQ/profile-displayphoto-shrink_200_200/0/1620672999129?e=1631145600&v=beta&t=u3sz8BgWCT1o78BlGuQ5XT9LNDcb0ueE8meHwvuCGxg"
                          alt="">
                  </div>
                  <h3 class="card-title">Bruno </h3>
                  <h4 class="card-text">Desenvolvedor</h4>
                  <div>
                      <div class="col-md-12 d-flex justify-content">
                          <ul class="social-network">
                              <li>
                                  <a href="https://github.com/brunocallachi" target="_blank">
                                      <i class="fa fa-github-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.linkedin.com/in/bruno-callachi-54b8b71b2/" target="_blank"
                                      class="icoLinkedin">
                                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      



      
      <div class="col-sm-4 d-flex justify-content-center mb-3">
          <div class="card" style="width: 15rem;">
              <div class="card-body">
                  <div>
                      <img class="br-50"
                          src="https://media-exp3.licdn.com/dms/image/C4D03AQHJwc6mV_gejw/profile-displayphoto-shrink_200_200/0/1625176629640?e=1631145600&v=beta&t=lUzLnn-xYWJaUVdGQiZ4sEE4CvfwNlnsUtQMMJoFTk0"
                          alt="">
                  </div>
                  <h3 class="card-title">Teodoro </h3>
                  <h4 class="card-text">Desenvolvedor</h4>
                  <div class="row">
                      <div class="col-md-12 d-flex justify-content">
                          <ul class="social-network">
                              <li>
                                  <a href="https://github.com/LuLenny" target="_blank" class="icoFacebook">
                                      <i class="fa fa-github-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.linkedin.com/in/lucas-teodoro-409b74215/" target="_blank"
                                      class="icoLinkedin">
                                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>

              </div>
          </div>
      </div>




      <div class="col-sm-4 d-flex justify-content-center mb-3">
          <div class="card" style="width: 15rem;">
              <div class="card-body">
                  <div>
                      <img class="br-50"
                          src="https://media-exp3.licdn.com/dms/image/C4D03AQFUFeU72ZM5LQ/profile-displayphoto-shrink_200_200/0/1625180386369?e=1631145600&v=beta&t=upfQWS-cPBY-X1VGHp3EmLfYXXsQgzcnleMvwgaN3i4"
                          alt="">
                  </div>
                  <h3 class="card-title">Malu </h3>
                  <h4 class="card-text">Desenvolvedora</h4>
                  <div class="row">
                      <div class="col-md-12 d-flex justify-content">
                          <ul class="social-network">
                              <li>
                                  <a href="https://github.com/mlmaricato" target="_blank" class="icoFacebook">
                                      <i class="fa fa-github-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.linkedin.com/in/maria-luisa-maricato/" target="_blank"
                                      class="icoLinkedin">
                                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>




      
      <div class="col-sm-4 d-flex justify-content-center mb-3">        
          <div class="card" style="width: 15rem;">
              <div class="card-body">
                  <div>
                      <img class="br-50"
                          src="https://media-exp3.licdn.com/dms/image/C4D03AQHgqX8-QmI51A/profile-displayphoto-shrink_200_200/0/1601400913935?e=1631145600&v=beta&t=WEsIktsC--TEgFaMlRIadVw4yzB7uKnjK5ykpFiafvM"
                          alt="">
                  </div>
                  <h3 class="card-title">Barbara </h3>
                  <h4 class="card-text">Desenvolvedora</h4>
                  <div class="row">
                      <div class="col-md-12 d-flex justify-content">
                          <ul class="social-network">
                              <li>
                                  <a href="https://github.com/Barbara790" target="_blank" class="icoFacebook">
                                      <i class="fa fa-github-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.linkedin.com/in/barbara2-dos-santos/" target="_blank"
                                      class="icoLinkedin">
                                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>




      <div class="col-sm-4 d-flex justify-content-center mb-3">
          <div class="card" style="width: 15rem;">
              <div class="card-body">
                  <div>
                      <img class="br-50"
                          src="https://media-exp3.licdn.com/dms/image/C5603AQHGTkZpCcFmWg/profile-displayphoto-shrink_200_200/0/1516839740765?e=1631145600&v=beta&t=5Q8wlDmVEn5PYPvxlRUw-eboB-_HLOKJgb3k7cczqLM"
                          alt="">
                  </div>
                  <h3 class="card-title">Jonatas </h3>
                  <h4 class="card-text">Desenvolvedor</h4>
                  <div class="row">
                      <div class="col-md-12 d-flex justify-content">
                          <ul class="social-network">
                              <li>
                                  <a href="https://github.com/jovieira127" target="_blank" class="icoFacebook">
                                      <i class="fa fa-github-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.linkedin.com/in/jomcvieira/" target="_blank"
                                      class="icoLinkedin">
                                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>



      
      <div class="col-sm-4 d-flex justify-content-center mb-3">
          <div class="card" style="width: 15rem;">
              <div class="card-body">
                  <div>
                      <img class="br-50"
                          src="https://media-exp3.licdn.com/dms/image/C4E03AQEm_vgX9cKn_A/profile-displayphoto-shrink_200_200/0/1625508769591?e=1631145600&v=beta&t=5FGS3lsttlyDJe1SKq6dixfaQr-GFpc-T_AEObbB4Co"
                          alt="">
                  </div>
                  <h3 class="card-title">Pedro </h3>
                  <h4 class="card-text">Desenvolvedor</h4>
                  <div class="row">
                      <div class="col-md-12 d-flex justify-content">
                          <ul class="social-network">
                              <li>
                                  <a href="https://github.com/PedroMagalhaes360" target="_blank" class="icoFacebook">
                                      <i class="fa fa-github-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.linkedin.com/in/pedro-magalh%C3%A3es-4b5508212/"
                                      target="_blank" class="icoLinkedin">
                                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>